@use "sass:map";

@import '~typeface-roboto/index.css';
@import '~typeface-roboto-mono/index.css';
@import './font-family-system';

@import './variables';
@import './bootstrap';
@import './theme';

html,
body {
  width: 100%;
  height: 100%;
}

#__next {
  display: flex;
  height: 100%;
  flex-direction: row;
}
